* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100vh;
}


/* Navbar */

[aria-label="navbar"] {
    width: 100vw;
    height: 6rem;
    background-color: black;
    color: #fefefe;
    display: flex;
    align-items: center;
}

.navbar {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 8rem;
}

.line {
    height: 3rem;
    width: .1rem;
    background-color: #fff;
    margin: 0 3rem;
}

.grow-list {
    flex-grow: 1;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.list-item {
    margin-right: 2rem;
}

.button-small {
    border-radius: 9px;
    padding: 11px;
    background-color: #cd39c3;
    width: 136px;
    color: white;

}

/* Hero Section */

[aria-label="hero"] {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .40), rgba(0, 0, 0, .40)), url(./assets/bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
}

.hero {
    text-align: center;
    width: 60%;
    margin: auto;
}

.hero-heading {
    font-size: 60px;
    color: #fff;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    padding-top: 10rem;
    font-weight: 600;
}

.hero-description {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #fff;
    padding: 1rem 0;
}

.button-large {
    border-radius: 9px;
    background-color: #982e91;
    height: 58px;
    width: 222px;
    border: none;
    margin-top: 3%;
    color: white;
    font-size: large;
}